.grid {
  display: flex;
  width: 100%;
  max-width: 72rem;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 2.5rem;
  padding: 0 1rem;
}

@media (min-width: 640px) {
  .grid {
    padding: 0 1.5rem;
  }
}
