.wrapper {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 142px);
  overflow: hidden;
}

.headingOverlay {
  position: absolute;
  z-index: 10;
  top: 1.5rem;
  left: 1rem;
  right: 1rem;
}

@media (min-width: 768px) {
  .headingOverlay {
    top: 2.5rem;
    left: 2.5rem;
    right: auto;
  }
}

@media (min-width: 1024px) {
  .headingOverlay {
    top: 5rem;
    left: 5rem;
  }
}
