.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background-color: white;
}

.inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
