:root {
  /* infobar */
  --infobar-background-color: #1f2937; /* gray-800 */
  --infobar-primary-color: white;
  --infobar-secondary-color: #6b7280; /* gray-500 */
  /* Menu */
  --menu-primary-color: #0891b2;  /* cyan-600 */
  --menu-hover-color: #6b7280; /* gray-500 */
  --dropdown-primary-color: white;
  --dropdown-hover-color:#c9c9c9;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
