.wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 0;
}

.imageBox {
  width: 70px;
  height: 70px;
  position: relative;
}

.textGroup {
  display: flex;
  flex-direction: column;
}

.brandText {
  color: black;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
}

@media (min-width: 426px) {
  .brandText {
    font-size: 0.875rem;
  }
}

.brandHighlight {
  composes: brandText;
  color: #0891b2;
}
