.wrapper {
  background-color: #fca5a5;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: #dc2626;
  border-radius: 0 5px 5px 0;
  border-left: 3px solid #dc2626;
  animation: fadeIn 0.3s ease;
}

.icon {
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
